:root {
    --Primary-Green: #1B5E20 ;
    --Accent-Green: #4CAF50;
    --Soft-Green: #A5D6A7;
}
body {
    height: 100vh;
}
.generator-con {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(40, 40, 40);
}
.content {
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    scale: 1.7;
    background-color: rgb(40, 40, 40);
}
.content input {
    width: 100px;
}
.gen-btn {
    width: 100px;
    padding: 5px;
    background-color: var(--Soft-Green);
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: ease 0.2s;
}
.gen-btn:hover {
    scale: 1.05;
}
.lbl {
    margin-left: 20px;
}
.lblStyle {
    color: white;
}
.input-style {
    padding: 5px;
    border: none;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
}
.input-style:focus-visible {
    outline: none;
}
.btn-con a {
    text-decoration: none;
}