
body {
    height: 100vh;
    width: 100vw;
}
.main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: rgb(40, 40, 40);
    scale: 1.3;
}
.content-con {
    width: 500px;
    height: 300px;
    /* background-color: rgb(40, 40, 40); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    scale: 1.1;
}
.style-btn {
    background-color: var(--Soft-Green);
    border: none;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: ease .2s;
}
.style-btn:hover {
    scale: 1.01;
    box-shadow: 0px 5px 10px /*#afd0b0*/ black;
}
.btn-link {
    text-decoration: none;
    cursor: pointer;
}
.btn-link label {
    cursor: pointer;
    margin-top: 10px;
}